<div class="col-xs-12 col-sm-6 col-md-4">
    <div class="image-flip">
        <div class="mainflip flip-0">
            <div class="frontside">
                <div class="card">
                    <div class="card-body text-center">
                        <p><img class=" img-fluid" [src]="content.image" alt="card image"></p>
                        <div class="front-content pt-2 rounded">
                            <h4 class="card-title text-white"> <strong>{{content.name}}</strong></h4>
                            <div class="d-flex justify-content-center align-items-center pt-2">
                                <p class="pe-3"> <i [ngClass]="getStatusIcon(content.status)" class="pe-2"
                                        [ngStyle]="{'color': getStatusColor(content.status)}"></i>{{content.status}}</p>
                                <p> <i [ngClass]="getSpeciesIcon(content.species)" class="pe-2"></i>{{content.species}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="backside">
                <div class="card">
                    <div class="card-body text-center d-flex justify-content-center align-items-center">
                        <div class="rounded back-content pe-3 ps-3">
                            <div class="pt-3">
                                <h4 class="card-title">{{content.name}}</h4>
                                <div class="d-flex justify-content-center align-items-center ">
                                    <p class="pe-3"> <i [ngClass]="getStatusIcon(content.status)" class="pe-2"
                                            [ngStyle]="{'color': getStatusColor(content.status)}"></i>{{content.status}}</p>
                                    <p> <i [ngClass]="getSpeciesIcon(content.species)" class="pe-2"></i>{{content.species}}
                                    </p>
                                </div>
                                <hr>
                            </div>
                            <div class="pb-3">
                                <p class="" *ngIf="content.type !== ''"> <strong> Type: </strong> {{content.type}}</p>
                                <p> <strong> Gender: </strong> {{content.gender}}</p>
                                <p> <strong> Origin: </strong> {{content.origin.name}}</p>
                                <p> <strong> Location: </strong> {{content.location.name}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
